.quotum-home{
    margin-top: 100px;

    .text-col{
        padding: 20px 40px 20px 40px;
        background-color: $mine-shaft;
    }

    // .background-element{
    //     position: absolute;
    //     background-image: url('../storage/img/graph_blend.png');
    //     background-repeat: no-repeat;
    //     height: 100%;
    //     width: 100%;
    //     left: 0;
    //     right: 0;
    //     margin-left: auto;
    //     margin-right: auto;
    // }
}

