$black-russian: #0c0032;
$paua: #190061;
$kingfisher-daisy: #240090;
$dark-blue: #2500d3;
$mine-shaft: #282828;

// #242583;
// #553D67;
// #f64c72;
// #99738e;
// #2f2fa2;


// #ea1136	
// #d3168c	
// #a618d1	
// #7605e0	
// #1210d9
