.quotum-header{
    background-color: $mine-shaft;
    .header-row{
        padding-top: 20px;
        padding-bottom: 20px;
        .title{
            text-transform: uppercase;
        }
        .links{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            a{
                margin-left: 20px;
                padding: 10px 20px 10px 20px;
                text-transform: uppercase;
                color: #ffffff;
                text-decoration: none;
                border: 2px solid #ffffff;
            }
        }
    }
}