.quotum-header{
    .header-row{
        height: 150px;
        .title{
            margin: 0;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        .links{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            a{
                margin-left: 20px;
                padding: 10px 20px 10px 20px;
                text-transform: uppercase;
                color: #ffffff;
                text-decoration: none;
                border: 2px solid #ffffff;
            }
        }
    }
}